body {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: #747474;
    color: black;
}

.header {
    width: 100%;
    display: flex;
    place-content: center;
    justify-content: space-around;
    padding: 0px 0px 0px 30px;
    border: #FFD700 solid 2px;
}

.headers {
    align-self: center;
}

.buttons {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    height: 80vh;
}

.link-btn1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-decoration: none;
    color: blue;
}

.link-btn2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-decoration: none;
    color: blue;
}

.link-btn3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-decoration: none;
    color: blue;
}

.link-btn4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-decoration: none;
    color: blue;
}

.link-btn5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-decoration: none;
    color: blue;
}

.link-btn6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-decoration: none;
    color: blue;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px 0px 30px;
    border: #FFD700 solid 2px;

}

.menu-lateral {
    height: 100%;
    background-color: rgb(7, 61, 30);
    box-shadow: 3px 0 0 #FFD700;
    position: fixed;
    left: -50%;
}

.menu-active {
    left: 0% !important;
}


ul {
    list-style-type: none;
    padding: 10px;
}

ul li.item-menu {
    transition: .2s;
}

ul li.item-menu:hover {
    background-color: #00008B;
}


ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;

}

#content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 100px 10px 0px 10px;
}

#articles-container {
    overflow-x: auto;
    height: 350px;
    border: black ridge 2px;
    margin: 100px 10px 0px 10px;
}

.articles-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.article-card {
    border: black solid 1px;
    border-radius: 10px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.article-img {
    width: 20vw;
    height: 10vw;
}

.who {
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.text {
    font-size: 25px;
    padding: 0px 200px 25px 200px;
    display: flex;
    align-content: center;
    flex-direction: column;
}


.footer-who {
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px 0px 30px;
    border: #FFD700 solid 2px;
}

.menu-background {
    margin: 0px;
    padding: 0px;
    width: 2000px;
    height: 2000px;
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.menu-background:hover {
    color: red;
}

.menu-background:active {
    color: blue;
}